#lemonway-transaction-grid .lemonway_id_header,
#lemonway-transaction-grid .lemonway_id_filter,
#lemonway-transaction-grid .lemonway_id_column {
    width: 50px;
}

#lemonway-transaction-grid .transaction_date_header,
#lemonway-transaction-grid .transaction_date_filter,
#lemonway-transaction-grid .transaction_date_column {
    width: 140px;
}

#lemonway-transaction-grid .total_amount_header,
#lemonway-transaction-grid .total_amount_filter,
#lemonway-transaction-grid .total_amount_column {
    width: 100px;
}

#lemonway-transaction-grid .total_amount_filter input {
    text-align: right;
}

#lemonway-transaction-grid .transaction_type_header,
#lemonway-transaction-grid .transaction_type_filter,
#lemonway-transaction-grid .transaction_type_column {
    width: 180px;
}

#lemonway-transaction-grid .status_type_header,
#lemonway-transaction-grid .status_type_filter,
#lemonway-transaction-grid .status_type_column {
    width: 135px;
}

#lemonway-transaction-grid .button-column {
    width: 60px;
    min-width: 60px;
}